// colors.scss

// Add your color variables here

$black:                     #000;         //
$white:                     #fff;         //

$slate-black:               #222222;
$dark-grey:                 #3a3a3a;
$aqua-blue:                 #01ffff;
$dark-coco:                 #6f6a51;
$coco-pink:                 #debadc;

$bg-grey:                   #F2F2F2;
$light-grey:                #f1f1f1;
$grey:                      #cbcbcb;

$header-color:            #4E4E4E;
$body-color:                #666666;

$telegram-blue:             #24a3e1;
$discord-purple:            #5765f2;