$icon-font-family: "coco" !default;
$icon-font-path: "fonts" !default;

$icon-mail: "\e900";
$icon-twitter: "\e904";
$icon-vimeo: "\e905";
$icon-search: "\e906";
$icon-arrow-right: "\e907";
$icon-chev-right: "\e908";
$icon-plus: "\e90a";
$icon-share: "\e90b";
$icon-play: "\e90d";
$icon-home: "\e90f";
$icon-location: "\e947";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-play-circle: "\ea15";
$icon-embed: "\ea80";
$icon-axe-icon: "\e901";
$icon-github: "\e902";
$icon-discord: "\e903";
$icon-telegram: "\e909";
$icon-x-twitter: "\e90c";
$icon-tg-plain: "\e90e";



@font-face {
  font-family: '#{$icon-font-family}';
  src:
          url('#{$icon-font-path}/#{$icon-font-family}.ttf?n6n1im') format('truetype'),
          url('#{$icon-font-path}/#{$icon-font-family}.woff?n6n1im') format('woff'),
          url('#{$icon-font-path}/#{$icon-font-family}.svg?n6n1im##{$icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body:not(.wp-admin) {
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icon-font-family}';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body:not(.wp-admin) {
  i {
    &.icon-mail {
      &:before {
        content: $icon-mail;
      }
    }
    &.icon-twitter {
      &:before {
        content: $icon-twitter;
      }
    }
    &.icon-vimeo {
      &:before {
        content: $icon-vimeo;
      }
    }
    &.icon-search {
      &:before {
        content: $icon-search;
      }
    }
    &.icon-arrow-right {
      &:before {
        content: $icon-arrow-right;
      }
    }
    &.icon-tg-plain{
      &:before {
        content: $icon-tg-plain;
      }
    }
    &.icon-chev-right {
      &:before {
        content: $icon-chev-right;
      }
    }
    &.icon-plus {
      &:before {
        content: $icon-plus;
      }
    }
    &.icon-share {
      &:before {
        content: $icon-share;
      }
    }
    &.icon-play {
      &:before {
        content: $icon-play;
      }
    }
    &.icon-home {
      &:before {
        content: $icon-home;
      }
    }
    &.icon-location {
      &:before {
        content: $icon-location;
      }
    }
    &.icon-minus {
      &:before {
        content: $icon-minus;
      }
    }
    &.icon-cross {
      &:before {
        content: $icon-cross;
      }
    }
    &.icon-checkmark {
      &:before {
        content: $icon-checkmark;
      }
    }
    &.icon-play-circle {
      &:before {
        content: $icon-play-circle;
      }
    }
    &.icon-embed {
      &:before {
        content: $icon-embed;
      }
    }
    &.icon-axe-icon {
      &:before {
        content: $icon-axe-icon;
      }
    }
    &.icon-github {
      &:before {
        content: $icon-github;
      }
    }
    &.icon-discord {
      &:before {
        content: $icon-discord;
      }
    }
    &.icon-telegram {
      &:before {
        content: $icon-telegram;
      }
    }
    &.icon-x-twitter {
      &:before {
        content: $icon-x-twitter;
      }
    }
  }
}

