.rare-coco{
    &__divider{

        background-attachment: fixed;
        background-image: url(images/rare-coco-cards.jpg);
        height: rem-calc(200);
        width: 100%;

        position: relative;
        overflow: hidden;

        &:before,
        &:after{

            position: absolute;
            height: rem-calc(100);
            width: 100%;

            content: " ";
        }

        &:before{

            @include inc-box-shadow(0px,rem-calc(10),rem-calc(20),0,.75);
            top: rem-calc(-100);
        }

        &:after{

            @include inc-box-shadow(0,rem-calc(-10),rem-calc(20),0,.75);
            bottom: rem-calc(-100);
        }
    }
}